<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Party Management | Add new user</title>
	<% include partials/css %>	
</head>
<body class="with-side-menu control-panel control-panel-compact">
	<header class="site-header">
		<% include partials/head %>	    
	</header>
	<div class="mobile-menu-left-overlay"></div>
	<nav class="side-menu">
		<% include partials/sidebar %>
	</nav>
	<div class="page-content">
	   <div class="container-fluid">
			<header class="section-header">
				<div class="tbl">
					<div class="tbl-row">
						<div class="tbl-cell">
							<h5>ADD USER</h5>
							<ol class="breadcrumb breadcrumb-simple">
								<li><a href="#">Home</a></li>
								<li><a href="#">Manage Users</a></li>
								<li class="active">Add new user</li>
							</ol>
						</div>
					</div>
				</div>
			</header>
			<div class="box-typical box-typical-padding">				
				<form enctype="multipart/form-data" method="post" action="/admin/addNewuser">
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">Name</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" name="name" id="name" placeholder="Name" />
						</div>
					</div>															
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">Username</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" name="username" id="username" placeholder="Username" />
						</div>
					</div>															
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">Email</label>
						<div class="col-sm-6">
							<input type="Email" class="form-control" name="email" id="email" placeholder="Email" />
						</div>
					</div>															
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">Password</label>
						<div class="col-sm-6">
							<input type="password" name="password" class="form-control" id="password" placeholder="password" />
						</div>
					</div>															
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">Profile Image</label>
						<div class="col-sm-6">
							<input type="file" name="filename" id="filename" />
						</div>
					</div>																				
					<div class="form-group row">						
						<div class="col-sm-8">
							<button type="submit" id="btnSave" name="btnSave" class="btn btn-inline pull-right"><i class="fa fa-plus"></i> Save</button>
						</div>
					</div>																									
				</form>				
			</div>
		</div>
	</div>	
	<% include partials/js %>
	<script>
    $(function () {       
        $("#startdate").datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
            todayHighlight: true,
            todayBtn: 'linked',
            keyboardNavigation: true,
        });

        $("#enddate").datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
            todayHighlight: true,
            todayBtn: 'linked',
            keyboardNavigation: true,
        });        
    })
</script>
</body>
</html>