<html>
<head>
  <title>Party Management | Edit profile</title>
  <% include partials/css %>
  <style>
	@media (min-width: 544px){
		.col-sm-3 {
			float: left !important;
			width: 20% !important;
		}
		.col-sm-8 {
			float: left !important;
			width: 70.666667% !important;
		}
	}
  </style>
</head>
<body class="with-side-menu control-panel control-panel-compact">
	<header class="site-header">
		<% include partials/head %>	    
	</header>
	<div class="mobile-menu-left-overlay"></div>
	<nav class="side-menu">
		<% include partials/sidebar %>
	</nav>
	<div class="page-content">
	   <div class="container-fluid">
			<header class="section-header">
				<div class="tbl">
					<div class="tbl-row">
						<div class="tbl-cell">
							<h5>CHANGE PASSWORD</h5>
							<ol class="breadcrumb breadcrumb-simple">
								<li><a href="#">Home</a></li>
								<li><a href="#">Settngs</a></li>
								<li class="active">Change Password</li>
							</ol>
						</div>
					</div>
				</div>
			</header>
			<div class="box-typical box-typical-padding">				
				<form enctype="multipart/form-data" name="frmEditParty" method="post" action="/admin/ChangePasswordInfo">										
					<div class="form-group row">
						<label class="col-sm-3 form-control-label">New Password</label>
						<div class="col-sm-6">
							<input type="password" class="form-control" name="password" id="password" placeholder="New Password" />
						</div>
					</div>															
					<div class="form-group row">
						<label class="col-sm-3 form-control-label">Confirm Password</label>
						<div class="col-sm-6">
							<input type="password" class="form-control" name="ConfirmPassword" id="ConfirmPassword" placeholder="Confirm Password" />
						</div>
					</div>																				
					<div class="form-group row">						
						<div class="col-sm-8">
							<button type="submit" id="btnSave" name="btnSave" class="btn btn-inline pull-right"><i class="fa fa-edit"></i> Change Password</button>
						</div>
					</div>																											
				</form>				
			</div>
		</div>
	</div>	
	<% include partials/js %>
</body>
</html>