<html>
<head>
  <title>Party Management | Login</title>
  <link rel="stylesheet" href="/assets/admin/css/separate/pages/login.min.css" />
  <link rel="stylesheet" href="/assets/admin/css/lib/bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/admin/css/lib/font-awesome/font-awesome.min.css" />
  <link rel="stylesheet" href="/assets/admin/css/main.css" />
  <style type="text/css">
      .sign-box .sign-avatar {
            width: 100px;
            height: 100px;
            margin: 0 auto 10px;
            padding: 25px !important;
        }
  </style>
</head>
<body>
  <div class="page-center">
        <div class="page-center-in">
            <div class="container-fluid">				
                <form class="sign-box" action="/admin/GetPassword" method="post">					
                    <div class="sign-avatar no-photo"><i class="fa fa-question"></i></div>
                    <header class="sign-title">Reset Password</header>		
					<% if (message.length > 0) { %>
						<div class="alert alert-danger"><%= message %></div>
					<% } %>									
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="E-Mail"/>
                    </div>                                        
                    <button type="submit" class="btn btn-rounded">Reset</button>                    
                </form>
            </div>
        </div>
    </div>
	<script src="/assets/admin/js/lib/jquery/jquery.min.js"></script>
	<script src="/assets/admin/js/lib/tether/tether.min.js"></script>
	<script src="/assets/admin/js/lib/bootstrap/bootstrap.min.js"></script>
	<script src="/assets/admin/js/plugins.js"></script>
	<script type="text/javascript" src="/assets/admin/js/lib/match-height/jquery.matchHeight.min.js"></script>
	<script>
        $(function() {
            $('.page-center').matchHeight({
                target: $('html')
            });

            $(window).resize(function(){
                setTimeout(function(){
                    $('.page-center').matchHeight({ remove: true });
                    $('.page-center').matchHeight({
                        target: $('html')
                    });
                },100);
            });
        });
    </script>
	<script src="/assets/admin/js/app.js"></script>
</body>
</html>
