<!DOCTYPE html>

<html lang="en-US">
<head>
    <title>Sign Up</title>
    <%- include('includes/head'); %>
</head>

<body class="nav-btn-only homepage">
    <div class="page-wrapper">

        <%- include('includes/header'); %>

        <!--end page-header-->
        <div id="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                        <section class="section-title">
                            <h2>Sign Up</h2>
                        </section>
                       <% if(alert.length > 0) { %>
                        <div class="alert alert-danger">
                        <%=  alert %>
                        </div>
                        <% } %>
                        <form class="form inputs-underline" action="/signup" method="POST">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your email">
                            </div>
                            <!--end form-group-->
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" name="password" id="password" placeholder="Your password">
                            </div>

                            <div class="form-group center">
                                <button type="submit" class="btn btn-primary width-100">Sign Up</button>
                            </div>
                            <!--end form-group-->
                        </form>

                        <hr>

                        <a href="/signin">Sign In</a>
                        <!--end form-->
                    </div>
                    <!--end modal-body-->
                </div>
                <!--end modal-content-->
            </div>
            <!--end modal-dialog-->
            <!--end page-footer-->
        </div>
        <!--end page-wrapper-->
    </div>
    <%- include('includes/foot'); %>

</body>

