<html>
<head>
  <title>Employee Management System | Sing Up</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="javascript:;">Employee Management System</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="javascript:;">Home</a>
        </li>
        <li class="dropdown"></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/signup">
            <span class="glyphicon glyphicon-user"></span> Sign Up
          </a>
        </li>
        <li>
          <a href="/login">
            <span class="glyphicon glyphicon-log-in"></span> Login
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
	  <div class="col-sm-6 col-sm-offset-3">
		  <h1><span class="fa fa-sign-in"></span> Signup</h1>
		  <% if (message.length > 0) { %>
			  <div class="alert alert-danger"><%= message %></div>
		  <% } %>
		  <form action="/signup" method="post">
			  <div class="form-group">
				  <label>Username</label>
				  <input type="text" class="form-control" name="username" />
			  </div>
			  <div class="form-group">
				  <label>Firstname</label>
				  <input type="text" class="form-control" name="firstname" />
			  </div>
			  <div class="form-group">
				  <label>Lastname</label>
				  <input type="text" class="form-control" name="lastname" />
			  </div>
			  <div class="form-group">
				  <label>Email</label>
				  <input type="text" class="form-control" name="email" />
			  </div>
			  <div class="form-group">
				  <label>Password</label>
				  <input type="password" class="form-control" name="password" />
			  </div>
			  <input type="text" style="display:none" class="form-control" name="usertype" value="user" />
			  <input type="text" style="display:none" class="form-control" name="status" value="true" />
			  <input type="text" style="display:none" name="contact" placeholder="Contact" />
			  <input type="text" style="display:none" name="city" placeholder="City"  />
			  <input type="text" style="display:none" name="country" placeholder="Country"  />
			  <input type="text" style="display:none" name="path" placeholder="path"  />
			  <input type="text" style="display:none" name="originalname" placeholder="originalname"  />
			  <button type="submit" class="btn btn-warning btn-lg">Signup</button>
		  </form>
		  <hr />
		  <p>Already have an account? <a href="/login">Login</a></p>
		  <p>Or go <a href="/">home</a>.</p>
	  </div>
  </div>
</body>
</html>