<!--active class name = magenta opened-->
<ul class="side-menu-list">
	<li class="grey with-sub">
		<a href="/admin/userhome">
			<span>
				<i class="font-icon font-icon-dashboard"></i>
					<span class="lbl">Dashboard</span>
			</span>	            
		</a>
	</li>	        	        	        	        	        	        	       
	<li class="grey with-sub">				
		<a href="/admin/ManageParties">		
			<span>
				<span class="glyphicon glyphicon-duplicate"></span>
				<span class="lbl">Manage Parties</span>
			</span>				
		</a>
	</li>	 
  <li class="grey with-sub">
		<a href="/admin/ManageAdminUsers">
			<span>
				<span class="fa fa-users"></span>
				<span class="lbl">Manage Admins</span>
			</span>	           
		</a> 
	</li>	       	        	        	        
	<li class="grey with-sub">
		<a href="/admin/ManageUsers">
			<span>
				<span class="glyphicon glyphicon-user"></span>
				<span class="lbl">Manage Users</span>
			</span>	           
		</a> 
	</li>
  <li class="grey with-sub">
    <a href="/admin/CategoriesLayout">
      <span>
        <span class="fa fa-list"></span>
        <span class="lbl">Manage Categories</span>
      </span>
    </a>
  </li>
</ul>		   